/**
* Lightbox
*/
dialog {
    border: none;
    padding: 0;
    background: transparent;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.8);
}

#lightbox {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    background: white;
}

#lightbox img {
    width: 100%;
    height: auto;
    display: block;
    border: 5px solid white;
    box-sizing: border-box;
}